body {
    background-color: papayawhip;
    color: saddlebrown;
    max-width: 1000px;
    margin: auto;
}

#fejlec {
    background-image: url("../képek/sok.png");
    background-size: auto;
    padding: 1rem;
}

#fokeret {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    #fokeret {
        flex-wrap: wrap;
    }
    
    #menu {
        margin: auto;
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #menu ul li {
        display: inline-block;
    }
} 


#menu ul li {
    list-style-image: url("../képek/MicrosoftTeams-image.png");
    background-color: white;
    border: 1px solid cadetblue;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #000;
}

table {
    width: 300px;
    margin: 20px auto auto auto;
    border-collapse: collapse;
}

table, th, tr, td {
    border: 1px solid black;    
    font-weight: bold;
    padding: 5px;
}

table td:nth-child(2) {
    width: 120px;
    text-align: center;
}

table tr:nth-child(2) td:nth-child(2) {
    background-color: greenyellow;
}

table tr:nth-child(3) td:nth-child(2) {
    background-color: yellow;
}

table tr:nth-child(4) td:nth-child(2) {
    background-color: palevioletred;
}

table tr:nth-child(5) td:nth-child(2) {
    background-color: plum; 
}
